name: Build Kernel on Github Actions

on:
  push:

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: panchajanya1999/archlinux:latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup env
        run: pacman -Syu --needed --noconfirm wget bc build-essential zip curl libstdc++6 git wget python gcc clang libssl-dev repo rsync flex bison neofetch github-cli
      - name: Build Loner Kernel
        run: |
          export TOKEN=${AUTH_TOKEN}
          export TGKEN=${TELEGRAM_TOKEN}
          bash .github/workflows/bleed.sh
        env:
          AUTH_TOKEN: ${{ secrets.RELEASE_TOKEN }}
          TELEGRAM_TOKEN: 5136571256:AAEVb6wcnHbB358erxRQsP4crhW7zNh_7p8}
      - name: Store Kernel Package as Artifact
        uses: actions/upload-artifact@v2
        with:
         name: Flashable zip
         path: AnyKernel3/package.zip
